/* app css stylesheet */
body {
    background-color: #DFFBF5;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
highchart {
  float: left;
  width: 40%;
  margin-left: 150px;
  margin-top: 30px;
}
.optBox {
    padding-top: 30px;
    text-align: center;

}
#optionsBox {
    background-color: #FFE0E0;
    border: 4px double black;

    margin-left: 30%;
    width: 40%;
    margin-top: 20px;
}
.chartCheckbox {
    padding-left: 20px;
    display: inline;
}
h3 {
    padding-top: 10px;
}
.colors {
    padding-bottom: 20px;
}
.chartColors {
    padding-left: 20px;
    display: inline;
}