<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>



</head>
<body>

<div class="optBox" ng-controller="optBoxCtrl">
  <button ng-click="isBoxOpen = !isBoxOpen">Show options</button>
  <div id="optionsBox" ng-show="isBoxOpen">
      <div>
          <div class="checkboxes">
              <h3>Which charts you want to see?</h3>
              <label class="chartLable">Chart1:
                  <input type="checkbox" ng-model="chartConfig.chart1.value">
              </label>
              <label class="chartLable">Chart2:
                  <input type="checkbox" ng-model="chartConfig.chart2.value">
              </label>
              <label class="chartLable">Chart3:
                  <input type="checkbox" ng-model="chartConfig.chart3.value">
              </label>
              <label class="chartLable">Chart4:
                  <input type="checkbox" ng-model="chartConfig.chart4.value">
              </label>
          </div>
          <div class="dateInput">
            <h3>Set the date period</h3>
            <label>from:
                <input type="date" id="fromDate"
                       placeholder="yyyy-mm-dd" min="2018-03-01" max="2018-05-31" required />
            </label>
            <label>to:
                <input type="date" id="toDate"
                       placeholder="yyyy-mm-dd" min="2018-03-01" max="2018-05-31" required />
            </label>
          </div>
          <div class="chartsType">
              <h3>Select the type of charts:</h3>
              <input type="radio" name="chartsType" ng-model="chartConfig.chart.type" value="line" ng-change="showBB(value)"> Line
              <input type="radio" name="chartsType" ng-model="chartConfig.chart.type" value="bar" ng-change="showBB(value)"> Bar
          </div>
          <div class="colors">
              <h3>Select the color of lines/bars</h3>
              <input type="color" value="#4088ED">
          </div>
      </div>
  </div>
</div>
<charts-item></charts-item>

<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="bower_components/highcharts/highcharts.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>

<script src="app.js"></script>
<script src="components/charts/charts.module.js"></script>
<script src="components/charts/charts-item/charts-item.component.js"></script>


</body>
</html>
