<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>



</head>
<body>

<div class="optBox" ng-controller="optBoxCtrl">
  <button ng-click="isBoxOpen = !isBoxOpen">Show options</button>
  <div id="optionsBox" ng-show="isBoxOpen">
      <div>
          <div class="checkboxes">
              <h3>Which charts you want to see?</h3>
              <div ng-repeat="chart in chartConfig" class="chartCheckbox">
                  <label>{{chart.title.text}}:
                      <input type="checkbox" ng-model="chart.visible">
                  </label>
              </div>
          </div>
          <div class="dateInput">
            <h3>Set the date period</h3>
            <label>Start from:
                <input type="date" id="fromDate" ng-model="timeToStart" ng-change="parseTime(value)"
                       placeholder="yyyy-mm-dd" min="2018-03-01" max="2018-05-31" required />
            </label>
            <!--<label>to:
                <input type="date" id="toDate"
                       placeholder="yyyy-mm-dd" min="2018-03-01" max="2018-05-31" required />
            </label>-->
          </div>
          <div class="chartsType">
              <h3>Select the type of charts:</h3>
              <!--<div ng-repeat="chart in chartConfig" class="chartType">
                  <label>{{chart.title.text}}
                      <input type="radio" name="chartConfig.chart.name" ng-model="chart.chart.type" value="line" ng-change="showConfig(value)"> Line
                      <input type="radio" name="chartConfig.chart.name" ng-model="chart.chart.type" value="bar" ng-change="showConfig(value)"> Bar
                  </label>
              </div>-->
              <input type="radio" name="chartConfig.chart.name" ng-model="chartType"
                     value="line" ng-change="changeType()" ng-checked="true"> Line
              <input type="radio" name="chartConfig.chart.name" ng-model="chartType"
                     value="bar" ng-change="changeType()"> Bar
          </div>
          <div class="colors">
              <h3>Select the color of series</h3>
              <div ng-repeat="col in colors" class="chartColors">
                  <input type="color" ng-model="col" value="col" ng-value="col" ng-change="changeType()">
              </div>
          </div>
      </div>
  </div>
</div>
<chart-item></chart-item>

<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="bower_components/highcharts/highcharts.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>

<script src="app.js"></script>
<script src="components/charts/charts.module.js"></script>
<script src="components/charts/chart-list/chart-list.component.js"></script>
<script src="components/charts/chart-item/chart-item.component.js"></script>

</body>
</html>
